@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #0F172A;
}
#top-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:10px;
    height: 100%;
}
#repoCard{
    height: 280px;
}
#repoCard:hover{
    transform: scale(1.05);
    transition: .3s;
}
.results-container{
    margin: 5px 100px 30px 100px
}
#cardItem{
    margin: 15px 0px 15px 7px;
}
#cardItem-bubbles{
    margin:3px 3px
}
#articleContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width: 850px) {
    .results-container{
    margin: 10px 40px
}
    #repoCards{
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    #bottomOfCard{
        margin-top: 15px
    }
    span{
        margin-top: 10px
    }
}