#cardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width: 700px){
    #cardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}